// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment{
  font-size: 30px;
  padding: 1px 8px;
  background-color: white;
  margin: 4px;
  display: inline-block;
  word-break: break-all;
  border-radius: 10px;
  color: black;
  font-family: sans-serif;
}

.text_box{
  height:140px;
  position:absolute;
  bottom:0;
}
