- if user_signed_in?
  %li= link_to "ログアウト", destroy_user_session_path
- else
  %li= link_to "会員登録", new_user_registration_path
  %li= link_to "ログイン", new_user_session_path
= react_component('CommentBox', url: '/api/v1/comments.json', current_user: current_user, pollInterval: 2000)
